.fleet
.github
.idea
.turbo
.vscode
examples
node_modules
.editorconfig
.gitignore
.npmrc
.prettierignore
.prettierrc.json
pnpm-lock.yaml
pnpm-workspace.yaml
tsconfig.json
turbo.json

packages/*/.turbo
packages/*/node_modules
packages/*/.gitignore
packages/*/build.mjs
packages/*/tsconfig.json
