**/*.map
.github/**/*
.gitignore
.vscode-test/**
.vscode/
SECURITY.md
build/
examples/
out/
src/
test/
third_party/
tsconfig.json
webpack.config.js
**/tsconfig.json
**/tsconfig.base.json

node_modules/**
!node_modules/vscode-jsonrpc/**
!node_modules/vscode-languageclient/**
!node_modules/vscode-languageserver-protocol/**
!node_modules/vscode-languageserver-types/**
!node_modules/semver/**
